*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

# Test-Dateien:
*.wav

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*



# eclipse
.classpath
.project
.settings
.factorypath

# intellij
.idea
*.iml
build
out
pdf_temp

# vscode
.vscode

# logback
logpath_IS_UNDEFINED

# gradle
.gradle




#
conf

# die Sourcen für Musicbrainz-WS nur zum Debuggen:
/musicbtainzws2-java/
/org.musicbrainz.ws1/

# Binaries der JRE/LAME
/abz.kamirez.neuelpetozede/platform_resources/windows/lame/
/abz.kamirez.neuelpetozede/platform_resources/windows/jre/
/abz.kamirez.neuelpetozede/platform_resources/macosx/lame/

